*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans";
}
.d-flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;    
}
color{
    background-color: red;
}
color2{
    background-color: cyan;
}
body{
    background-image:linear-gradient(
            90deg,
            rgb(0, 42, 10),
            rgba(1, 102, 2, 0.394),
            rgb(0, 42, 10)
          )
}
/*header*/
.btn-nav{
    display: flex;
    position: absolute;
    top: 3vh;
    right: 3vw;
}
.btn-nav a{
    margin: 0 0.5rem;
}
header img{
    width:100%;
    object-fit: cover;
    height: 28rem;
} 

nav a {
    color: white;
    background-color: rgb(33, 33, 232);
    border: black 1px solid;
    padding: 4px 7px;
    box-shadow: black 1px 1px 2px;
    text-decoration: none;
}
a[href="#"]{
    background-color: green;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -0.3rem auto ;
    width: 80vw;
    background-color: aliceblue;
}
.title{ 
    width: 80vw;
    justify-content: center;
    text-align: center;
    border: black solid 1px;
}
.title-rule{ 
    padding: 0 0 0.5rem 0 ;
}
.img{
    object-fit: cover;
    
}
.img1, .img2, .img3{
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
}

.logo{
    display: flex;
    align-self: start;
    max-width: 200px;
    max-height: 200px;
}

.document{
    margin: 1rem 6rem;
    align-self: start;
}
table{
    background-color: green   ;  
    border: 1px solid black;
    margin: 1rem auto;
}

th,tr, td{
    
    background-color: yellow;
    padding: 0.5rem;
}
dt{
    font-weight: bold;
}
dd{
    
}

article{
    margin: 1rem 6rem;
    align-self: start;
}
.alpha{
    list-style-type:lower-alpha;
}
.circle{
 list-style:circle;
}
.ident{
    text-indent: 2em 
}
